body {
   margin: 0px;
   font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
   background-color: hsl(30 20% 98%);
}

body a {
   color: inherit;
   text-decoration: inherit;
}

header {
   padding: 5px;
   display: flex;
   justify-content: space-between;
}

header ._header_logo {
   font-size: 16px;
   letter-spacing: 0.015em;
   text-wrap: nowrap;
}

header ._header_logo img {
   height: 16px;
   vertical-align: -5%;
}

header ._nav_bar select {
   display: block;
}

main {
   min-height: 100vh;
   padding-bottom: 5rem;
}

main hero {
   display: block;
   font-size: 3em;
   text-align: center;
   padding: 1em 0;
}

main hero img {
   height: 4em;
   display: block;
   margin: 0 auto;
}

main ._toc {
   max-width: 640px;
   margin: 5em auto;
   box-sizing: content-box;
}

main ._toc ._toc_item {
   display: grid;
   padding: 10px;
   background: #fff;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

main ._toc ._toc_item ._toc_item_img {
   aspect-ratio: 40/21;
   background-size: cover;
   background-position: center;
}

main ._toc ._toc_item ._toc_item_text {
   justify-self: left;
   align-self: center;

}

main ._toc ._toc_item ._toc_item_text>* {
   margin: 0;
   text-align: left;
}

@media screen and (max-width: 600px) {
   main ._toc ._toc_item {
      display: block;
      max-width: 300px;
      margin: 0 auto;
   }
}

footer {
   text-align: right;
}

footer a {
   opacity: 0.3;
}

footer a:hover {
   opacity: 1;
}

/* latin-ext */
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 200 700;
   font-display: swap;
   src: url(/assets/fonts/oswald1.woff2) format('woff2');
   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 200 700;
   font-display: swap;
   src: url(/assets/fonts/oswald2.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}